In [ ]:
print ("welcome to python functions")

welcome to python functions

In [ ]:
# functions in python
def max_num(your_list):
  max_ = max(your_list)
  return max_

nums = [2000,10000,500000,1000000,20000000]
max_num(nums)

20000000

In [ ]:
# lambda expression in python

en = lambda a : a % 2 == 0
print(en(444))

True

In [ ]:
n = lambda a,b : a % b
print(n(5,2))

True

In [ ]:
#lambda is better shown when you use them as an anonymous function inside another function.
def myMultipler(n):
  return lambda a : a * n 

my_tripler = myMultipler(3)  
print(my_tripler(11))

33