In [ ]:
print ("welcome to python structures")

welcome to python structures

In [ ]:
# Lists and different functions in it
pantSize_List = [24,28,30,32,34,36,38,40]
print(sum(pantSize_List))

262

In [ ]:
listLen = len(pantSize_List)
print(listLen)

8

In [ ]:
print(max(pantSize_List), min(pantSize_List))

40 24

In [ ]:
# adding and deleting items from a list
pantSize_List.append(42)
del (pantSize_List[4])
print(pantSize_List)
pantSize_List.pop()

[24, 28, 30, 32, 36, 38, 40, 42]

42

In [ ]:
# Tuples are like lists but their data values are not modifiable
year_months = ('jan','feb','march','april','may','june','july','aug','sept','oct','nov','dec')
# access specific values of a tuple
print(year_months[0])
print(year_months[-12])

jan
jan

In [ ]:
type(year_months)

tuple

In [ ]:
# delete function
del (year_months)
print(year_months)

NameError: ignored

In [ ]:
# "in" function in tuples
1 in year_months

False

In [ ]:
# ADDING TUPLES
print(year_months + (1,2,3,4,5,6))

('jan', 'feb', 'march', 'april', 'may', 'june', 'july', 'aug', 'sept', 'oct', 'nov', 'dec', 1, 2, 3, 4, 5, 6)

In [ ]:
#convert the following tuple into useful string:
my_tuple = ('P','y','t','h','o','n','P','r','o','g','r','a','m','m','i','n','g')
my_string = "".join(my_tuple)
print(my_string)
#if we want to convert again into a tuple:
myTuple = tuple(my_string)
print(myTuple)
#if we want to convert tuple into a list:
my_list = list(myTuple)
print(my_list)

PythonProgramming
('P', 'y', 't', 'h', 'o', 'n', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')
['P', 'y', 't', 'h', 'o', 'n', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [ ]:
# dictionaries
my_dict = {'key1':[20,80,50],'key2':[200,10,100],'key3':[300,20,400]}
print(my_dict['key2'])
print(my_dict.values())

[200, 10, 100]
dict_values([[20, 80, 50], [200, 10, 100], [300, 20, 400]])

In [ ]:
# get function in dictionary for accesing
my_dict.get('key1')

[20, 80, 50]

In [ ]:
# add new item to dict
my_dict["key4"] = [40]
print(my_dict)

{'key1': [20, 80, 50], 'key2': [200, 10, 100], 'key3': [300, 20, 400], 'key4': [40]}

In [ ]:
# sorting the dictionary
a = my_dict.keys
b = my_dict.values
mydict_sort = {a:sorted(b) for a,b in my_dict.items()}
print(mydict_sort)

{'key1': [20, 50, 80], 'key2': [10, 100, 200], 'key3': [20, 300, 400], 'key4': [40]}

In [ ]:
# update function is used to Add one dictionaryâ€™s key-values pairs to another. Duplicates are removed.
year_months = {"January" : 1, "February" : 2, "March" : 3, "April": 4, "May": 5, "June": 6}
second_six_year_months = {"July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12}
year_months.update(second_six_year_months)
print (year_months)

{'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}

In [ ]:
# sets and operations in it
my_colors = {"green","red","yellow","orange","red","blue"}
print("green" in my_colors) #accessing
print("red" in my_colors)

True
True

In [ ]:
print(my_colors.pop()) # removes random element
print(my_colors)

orange
{'blue', 'green', 'red', 'yellow'}

In [ ]:
# can add and remove items but not change them in sets

In [ ]:
# union of two sets
a = {'red','green','yellow','blue'}
b = {'red','blue','black'}
c = a.union(b)
print(c)
d = a.intersection(b)
print(d)

{'yellow', 'green', 'red', 'black', 'blue'}
{'red', 'blue'}